<h1>Sign Up</h1>

<form action="<%= users_url%>" method="POST">
	<label>
		Email: <input type="text" name="user[email]">
	</label><br>
	<label>
		Password: <input type="password" name="user[password]">
	</label><br>
	<label>
		First Name: <input type="text" name="user[first_name]">
	</label><br>
	<label>
		Last Name: <input type="text" name="user[last_name]">
	</label><br>
	<label>
		Full Company Name: <input type="text" name="user[company_name]">
	</label><br>
	<label>
		Company Abbreviation: <input type="text" name="user[abbreviation]">
	</label><br>
	<label>
		City: <input type="text" name="user[city]">
	</label><br>
	<label>
		State: <input type="text" name="user[state]">
	</label><br>
	<label>
		Zip: <input type="text" name="user[zip_code]">
	</label><br>
	<label>
		Phone Number: <input type="text" name="user[phone]">
	</label><br>

	<input type="submit" value="Sign Up!">
</form>