New Company Page

<form action="<%= companies_url %>" method="post">
	<label>
		Name: <input type="text" name="company[name]">
	</label>
	<input type ="submit" value="Create Company">
</form>

<%=link_to "Back to Index", companies_url%>