<h1>Products Delete Page</h1>


Products:

<br><br><br>
<div id="productsTable"></div>

<br>
<br>
<button type="button" class="saveProducts">Save Changes</button> <br>
<br>

<a href="/#/products">Link to Products Page</a><br>
