<h2>Edit a Product</h2>
<form class="productEdit">
	<label>Category:
		<input type="text" name="category" value="<%= product.escape("category") %>">
	</label>
	<label>Product:
		<input type="text" name="name" value="<%= product.escape("name") %>">
	</label>
	<label>Dosage:
		<input type="text" name="dosage" value="<%= product.escape("dosage") %>">
	</label>
	<label>Package:
		<input type="text" name="package" value="<%= product.escape("package") %>">
	</label>	
	<input type="submit" value="Update Product">
</form>

<ul class="errors">
</ul>


<a href="/#/products">Link to Products Page</a>