<h1>Products Index</h1>


Products:

<ul>
	<% products.each( function(product) { %>
	<li>
		<a class="productDelete" data-id="<%= product.id%>"> delete </a>
	</li>
	<% }); %>
</ul>

<h2>Add a Product</h2>
<form class="productAdd">
	<label>Title:
		<input type="text" name="name">
	</label>	
	<input type="submit" value="Add Product">
</form>

<ul class="errors">
</ul>


<a href="">Link to Main Page</a>