<h1>Products Index</h1>


Products:

<br><br><br>
<div id="productsTable"></div>

<br>
<button type="button" class="saveProducts">Save Changes</button> <br>

<h2>Add a Product</h2>
<form class="productAdd">
	<label>Category:
		<input type="text" name="category">
	</label>
	<label>Product:
		<input type="text" name="name">
	</label>
	<label>Dosage:
		<input type="text" name="dosage">
	</label>
	<label>Package:
		<input type="text" name="package">
	</label>	
	<input type="submit" value="Add Product">
</form>

<ul class="errors">
</ul>


<a href="/#">Link to Main Page</a><br>
<a href="/#/products/delete">Link to Delete Products - Be Careful!</a><br>
<a href='/api/products.csv'>Link to Download CSV</a><br>
<a href='/api/products.xls'>Link to Download XLS</a><br>