<h1>Products Index</h1>


<br><br>
<div id="productsTable"></div>

<br>
<button type="button" class="saveProducts">Save Changes</button> <br>

<h2>Add a Product</h2>
<form class="productAdd">
	<label>Category:
		<input type="text" name="category">
	</label>
	<label>Product:
		<input type="text" name="name">
	</label>
	<label>Dosage:
		<input type="text" name="dosage">
	</label>
	<label>Package:
		<input type="text" name="package">
	</label>	
	<input type="submit" value="Add Product">
</form>

<ul class="errors">
</ul>


<a href="/#">Link to Main Page</a><br>
<a href="/#/products/delete">Link to Delete Products - Be Careful!</a><br>
<a href='/api/products.csv'>Link to Download CSV</a><br>
<a href='/api/products.xlsx'>Link to Download XLSX</a><br>
<a href="/#/companies">Link to Companies Page</a><br>
<br>
<br>
<button type="button" class="emailAll">Email All Users</button> <br>
<br>
<br>
<h3> Upload Products via excel</h3>
<form class="uploadProducts" >
	<label>
		File: <input type="file" name="sheet" id="productsSheet" type="xls|xlsx">
	</label>
	<input type="submit" value="Import!">
</form>
<br>
<br>
<h3> Upload Company Prices via excel</h3>
<form class="uploadCompanyPrices" >
	<label> Month:
		<% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
		"November", "December"] %>
		<select name="month">
			<option>--------------</option>
			<% for(i = 1; i <= 12; i++){ %>
				<option value="<%= i %>"> <%= months[i - 1] %>  </option>
			<% }; %>
		</select>
	</label><br>
	<label> Year:
		<input type="text" name="year">
	</label>
	<label><br>
		File: <input type="file" name="sheet" id="companyPricesSheet" type="xls|xlsx">
	</label>
	<input type="submit" value="Import!">
</form>