<p>Note: the graph graphs the current user's price over time - the line would show the User's price over time if it had more data points.</p>

<div class="tableControls"><form class="graphCheckBoxes">
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="graphFilter" value="<%= company.escape("name") %>" class="graphFilter" 
				<% if(selectedCompanies.indexOf(company.escape("name")) > -1){ %>
					checked
				<% } else if(selectedCompanies.length >= 3){ %>
					disabled="disabled"
				<% } %>

			/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form></div>


<div id="chart_div" style="width: 1200 px; height: 500px;"></div>