<h1>Graph</h1>

<form class="graphCheckBoxes">
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="graphFilter" value="<%= company.escape("name") %>" class="graphFilter" 
				<% if(selectedCompanies.indexOf(company.escape("name")) > -1){ %>
					checked
				<% } %>s
			/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form>


<div id="chart_div" style="width: 1200 px; height: 500px;"></div>
