<strong> Category:</strong> <%= product.escape("category") %> <br>
<strong> Name:</strong> <%= product.escape("name") %> <br>
<strong> Dosage:</strong> <%= product.escape("dosage") %> <br>
<strong> Package:</strong> <%= product.escape("package") %> <br>
<br>
<div id="chart_div" style="width: 1200 px; height: 500px;"></div>
