.OutOfRange{
	background-color: red;
}

.backgrid th{
	text-align: right;
}

.backgrid th.category,
.backgrid th.name,
.backgrid th.dosage,
.backgrid th.package,
.backgrid th.graph{
	text-align: left;	
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}


.vex.vex-theme-flat-attack .vex-content .graphVexContent{
	width: 80%;
}