<h1> Root Index Page </h1>

<form>
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="companiesFilter" value="<%= company.escape("name") %>" class="tableFilter" checked/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form>

<div id="productsTable"></div>
<br>
User percentage: <%= user.escape("price_range_percentage") %> <br>

<button type="button" class="saveProducts">Save Changes</button> <br>

<a href="/#/companies">Link to Companies Page</a><br>
<a href="/#/products">Link to Products Page</a>