<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Your Monthly Price Report</h1>
		<p><strong>Your Comparison Company:</strong> <%= Companies.find(@user.comparison_company_id).name %></p><br>
		<p><strong>Your Price Threshold:</strong> <%= @user.price_range_percentage %></p><br>

		<table>

		</table>

		<br>
		<a href="vetpdav1.heroku.com">See your full price comparison</a>
	</body>
</html>