<h1>Create a Product</h1>

<form action="<%= products_url %>" method="post">
	<label>
		Category: <input type="text" name="product[category]">
	</label><br>
	<label>
		Product: <input type="text" name="product[product]">
	</label><br>
	<label>
		Dosage: <input type="text" name="product[dosage]">
	</label><br>
	<label>
		Package: <input type="text" name="product[package]">
	</label><br>
	<input type="submit" value="Create Product">
</form>

<br>
<%= link_to "Products Index", products_url%>

